.encabezado{
    background-color: #f3f5fc;
    padding: 50px;
    border:none;
}

.encabezado__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.encabezado__alura{
    height: 80px;
    width: 25px;
   
 
}


